[submodule "third_party/glfw"]
	path = third_party/glfw
	url = git@github.com:glfw/glfw
	shallow = true
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = git@github.com:ocornut/imgui
	branch = docking
	shallow = true
[submodule "third_party/stb"]
	path = third_party/stb
	url = git@github.com:nothings/stb
	shallow = true
[submodule "third_party/tinygltf"]
	path = third_party/tinygltf
	url = git@github.com:syoyo/tinygltf
	shallow = true
[submodule "third_party/cgltf"]
	path = third_party/cgltf
	url = git@github.com:jkuhlmann/cgltf
	shallow = true
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = git@github.com:madler/zlib
	shallow = true
[submodule "third_party/vma"]
	path = third_party/vma
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
	shallow = true
[submodule "third_party/tinyobjloader"]
	path = third_party/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
	shallow = true
[submodule "third_party/binaries"]
	path = third_party/binaries
	url = git@github.com:nvpro-samples/third_party_binaries.git
	shallow = true
[submodule "third_party/NVTX"]
	path = third_party/NVTX
	url = git@github.com:NVIDIA/NVTX.git
	branch = release-v3
[submodule "third_party/zstd"]
	path = third_party/zstd
	url = git@github.com:facebook/zstd.git
	shallow = true
[submodule "third_party/basis_universal"]
	path = third_party/basis_universal
	url = git@github.com:BinomialLLC/basis_universal.git
	shallow = true
